*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#tela-cadastro div input , select{
    outline: none;
    border-radius: 5px;
    border: 1px solid #e9e7e7 ;
    background-color: white;
}
#btn_cadastro div button{
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 6rem;
    
}


form input{
    margin:10px 8px 10px 8px ;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    
}
#dados div label{
    margin: 1.2rem;
}
